@keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
}

.icon-login{
    -webkit-animation: slide-bottom 1s ease-in-out infinite alternate ;
    animation: slide-bottom 1s ease-in-out infinite alternate ;
}